/* dribble 웹 사이트는 이미 꾸며진 디자인들이 만들어져 있다. 참고하여 디자인 하면 좋다. 
 만들어진 chat 폼은 dribble 웹 사이트의 디자인 폼을 참고하여 만들어졌다. */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300:400, 600, 700&display=swap');
@import "reset.css"; 
/* reset.css 는 html 의 기본적으로 
설정되있는 margin 값 등을 0으로 한다. */

/* nomalize.css 는 각기 다른 브라우저에서의 기준을 만들어준다.
예를 들면 h1 태그를 각기 다른 브라우저에서 28px로 고정시킨게 설정이 가능하다.
본 강의에서는 nomalize.css 보다 reset.css 를 더 좋게 보아 reset.css 를 사용합니다. */
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

/* 특정 태그나 아이콘들이 사라지는 이유... */
/* padding 을 추가 할 때 box 의 크기를 늘이지 말아달라. */
/* 이게 없으면 width : 100%; 에 + padding size 가 추가되어 브라우저보다 커짐 */
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 45px 20px;
    color: #020202;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    } to {
        opacity: 1;
        transform: none;
    }
}

main {
    animation: fadeIn 0.5s ease-in-out;
}